@import './defaultCommon.less';

.main-comp {
    height: 100vh;

    .main-header {
        height: @defaultHeader;
    }

    .main-left-nav {
        height: @defaultHeight;
    }

    .main-content-view {
        height: @defaultHeight;
    }

    .main-footer {
        height: @defaultFooter;
    }
}
